<h2>Articles</h2>

Our blog has <%= Article.count %> articles and counting!

<ul>
  <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, admin_article_path(article) %> – <%= article.status %>
      </li>
  <% end %>
</ul>

<%= link_to "New Article", new_admin_article_path %>
